doctype html
html
  head
    title= 'Bookmarks'
    meta(name='robots', content='noindex,nofollow')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
  body

    main.app
      -if (typeof(categories) !== 'undefined')
        div.app__sidebar
          a.logo(href="/") 
            img(src="/images/bookmarks.svg", alt="Bookmarks", class="logo-svg", width="50")
          ul.list--filters
            - each category in categories
              - if (category === activeCategory )
                li.is-active
                  a(href="/category/#{category}") #{category}
              - else 
                li
                  a(href="/category/#{category}") #{category}

          -if (typeof(user) == 'undefined')
            a.btn.btn--secondary.btn--l(href="/logout", class="logout") Sign out


      div.app__main
        block content